.leftBox {
  position: relative;
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
  height: 0px;
}

.rightBox {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  left: 52%;
  width: 50%;
}
